// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 35px;
    font-size: 15px;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    padding-bottom: 5px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

h3 {
    margin: 15px;
}

.field {
    margin: 15px;
}

.action {
    margin: 15px;
}

.success {
    color: #008000;
    font-size: 25px;
    padding: 15px;
    margin: 35px;
}

.error_explanation {
    width: 600px;
    background-color: #dcdcdc;
    margin: 35px;
}

.error_explanation h2 {
    font-size: 20px;
    background-color: #d7003a;
    color: #fff;
    padding: 15px;
}

.error_explanation ul {
    line-height: center;
    padding: 15px;
    margin: 20px;
}

